<div class="table">
    <div class="inter">
        <div class="block modules">
            <div class="entete">
                <h3>Mes Notes</h3>
            </div>
            <ul>
                <li *ngFor="let module of modules">{{module}}</li>
            </ul>
        </div>
        <div class="block">
            <div class="entete">
                <h3>CC</h3>
            </div>
            <ul>
                <li *ngFor="let cc of ccs">{{cc}}</li>
            </ul>
        </div>
        <div class="block">
            <div class="entete">
                <h3>CI</h3>
            </div>
            <ul>
                <li *ngFor="let ci of cis">{{ci}}</li>
            </ul>
        </div>
        <div class="block">
            <div class="entete">
                <h3>CF</h3>
            </div>
            <ul>
                <li *ngFor="let cf of cfs">{{cf}}</li>
            </ul>
        </div>
        <div class="block">
            <div class="entete">
                <h3>MOYENNE</h3>
            </div>
            <ul>
                <li *ngFor="let moy of moys">{{moy}}</li>
            </ul>
        </div>
    </div>
</div>